<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleSignature</key>
	<string>hbwr</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleIdentifier</key>
	<string>com.bubio.Bubilator88.help</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Bubilator88 Help</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>HPDBookAccessPath</key>
	<string>_access.html</string>
	<key>HPDBookIndexPath</key>
	<string>search.cshelpindex</string>
	<key>HPDBookKBProduct</key>
	<string>Bubilator88</string>
	<key>HPDBookTitle</key>
	<string>Bubilator88 Help</string>
	<key>HPDBookType</key>
	<string>3</string>
</dict>
</plist>
